# My virtual cluster
cbox*=root
root@cbox*!password=toor

# Generic configuration

# Specify default account for host or group of hosts
host1.domain=user
host*.domain=user

# Specify password for account
user@host*.domain!password=my_secret_password

# Specify ssh private key for account
user@host*.domain!private-key=~/.ssh/id_dsa

# 
# Single star (*) matches all between dots
#
# Example:
# host*.domain
#   will match
#       host.domain
#       host1.domain
#       hostABC.domain
#   but will not match
#       host1.intranet.domain
# 
# Double star (**) match everything including dots
#
# Example:
# host**.domain
#   will all match
#       host.domain
#       host1.domain
#       hostABC.domain
#       host1.intranet.domain
